@import "./constants/colors.scss";
@import "./constants/media_queries.scss";

.itemDetail {
  &__container {
    padding: 20px;
    background: $white;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  &__description {
    &__title {
      margin-bottom: 20px;
    }

    &__text {
      text-align: justify;
    }
  }

  &__buy_button {
    background: $blue_meli;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 4px;
    color: $white;
    cursor: pointer;
  }

  &__image {
    margin-top: 20px;
  }

  &__price {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 20px;

    &_container {
      margin-top: 20px;
    }

    &_tag {
      text-transform: uppercase;
    }
  }
}

@media (min-width: $tablet) {
  .itemDetail {
    &__container {
      display: grid;
      grid-template-columns: 1fr 0.3fr;
      grid-template-rows: 0.5fr 0.3fr;
      padding: 0;
    }

    &__image {
      width: 100%;
      height: 600px;
    }

    &__description {
      grid-row: 2 / 3;
      margin: 20px;
    }
  }
}

@media (min-width: $desktop) {
  .itemDetail {
    &__image {
      width: 80%;
      height: 800px;
    }
  }
}