@import "./constants/colors.scss";
@import "./constants/media_queries.scss";

.itemDetail {
  &__container {
    background: $white;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  &__description {
    &__title {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: $tablet) {
  .itemDetail {
    &__container {
      display: grid;
      grid-template-columns: 1fr 0.3fr;
      grid-template-rows: 0.5fr 0.3fr;
    }

    &__image {
      width: 50%;
      height: 60%;
    }

    &__description {
      grid-row: 2 / 3;
      grid-column: span 2;
      margin: 20px;
    }
  }
}